* {
    margin: 0px;
    padding: 0px;
}

/* Header Styling */
#top {
    color: white;
    text-align: center;
    font-size: 46px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: brown;
}

#top1 {
    text-align: center;
    color: brown;
    font-size: 21px;
    font-family: 'Ubuntu Mono', monospace;
}

/* Navbar Functionality */
#navbar {
    display: flex;
    flex-direction: column;
    background-color: brown;
    height: 8vh;
    width: 100vw;
    font-family: 'Times new roman', monospace;
    font-size: medium;
    margin-top: 10px;
    border: 2px solid black;
    position: sticky;
    padding: 0;
}

/* Navbar content functionality */
#navcontent {
    display: flex;
    justify-content: center;
    font-size: large;
    border: 1px white;
}

/* Navbar content styling */
ul li {
    list-style: none;
    margin: 15px;
    border-radius: 20px;
    border: 1px solid white;
    padding: 5px;
}

ul li a {
    padding: 1px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

ul li a:hover {
    background-color: rgb(16, 36, 252);
    border-radius: 10px;
}

/* website background image designing */
#container1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

/* Setting the background image using before pseudo selector */
#container1::before {
    content: '';
    background: url("components/Food.webp") no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Ubuntu Mono', monospace;
    margin-right: 45px;
    font-weight: bold;
    z-index: -1;
    opacity: 0.89;
}

#row1 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 35px;
    background-color: brown;
    padding: 15px;
    border: 3px solid white;
    border-radius: 10px;
}

/* Button Styling */
.btn {
    margin-top: 15px;
    border: 3px solid white;
    border-radius: 15px;
    background-color: rgb(15, 238, 56);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
}

.btn:hover {
    cursor: pointer;
    background-color: red;
}

.form-container {
  background: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 0 auto;
  max-width: 400px;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#result {
  margin-top: 20px;
  font-size: 14px;
  color: green;
}